<svg width="100%" height="100%" viewBox="0 0 375 667" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
  <g id="End">
    <rect id="newStuff" x="0" y="0" width="374.85" height="667" style="fill:#3e5a80;" />
    <g id="Checkmark">
      <circle cx="187.425" cy="327.005" r="75" style="fill:none;stroke:#1ace36;stroke-width:4px;" />
      <ellipse cx="138.344" cy="263.78" rx="16.244" ry="11.775" style="fill:#3e5a80;" />
      <path id="Checked-Icon" serif:id="Checked Icon" d="M207.49,308.966l-28.421,28.459l-11.71,-11.748c-1.414,-1.417 -3.708,-1.417 -5.123,0c-1.415,1.418 -1.415,3.716 0,5.135l14.196,14.24c0.727,0.727 1.684,1.075 2.637,1.055c0.952,0.02 1.91,-0.328 2.637,-1.055l30.908,-30.953c1.415,-1.417 1.415,-3.716 0,-5.133c-1.415,-1.419 -3.709,-1.419 -5.124,0Z"
        style="fill:#1ace36;" />
    </g>
      <text x="50%" y="142.874px" text-anchor="middle" style="font-family:'LucidaGrande', 'Lucida Grande', sans-serif;font-weight:500;font-size:30px;fill:#fff;">Feedback registered</text>
    <rect x="91.081" y="578.439" width="192.687" height="48.621" style="fill:#51c1b7;" />
    <text x="105.662px" y="608.53px" style="font-family:'LucidaGrande', 'Lucida Grande', sans-serif;font-weight:500;font-size:20px;fill:#fff;">Select a new ship</text>
    <rect x="91.081" y="578.439" (click)="backToHomePageButtonClicked()" width="192.687" height="48.621" style="fill:transparent;" />
  </g>
</svg>
